* {
  margin: 0px;
  padding: 0px;
  color: #ccc;
}
html {
  min-height: 100%;
  position: relative;
}
body {
  height: 100%;
  background-repeat: no-repeat;
  background: url(./assets/img/bg.jpg) no-repeat center center
    fixed;
  background-size: cover;
  margin-bottom: 110px;
}
.header_title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card {
  width: 250px;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 3px;
  margin-top: 10px;
  color: #fff;
  text-align: center;
  border: solid 2px #000;
  border-radius: 10px;
  transition: 0.4s;
}

.card:hover {
  background-color: #000;
}

img {
  width: 246px;
  height: 140px;
  border-radius: 10px 10px;
}

.card_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

h3 {
  margin-top: 2px;
  font-size: 20px;
}

p {
  margin-top: -10px;
}

.footer_gallery {
  text-align: center;
  /*background-color: #0b0658;*/
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px;
}
